# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

/text-ui-test/ACTUAL.txt
text-ui-test/EXPECTED-UNIX.TXT
data/*.txt
*.class
/docs/stylesheet.css
/docs/package-search-index.zip
/docs/overview-summary.html
/docs/element-list
/docs/serialized-form.html
/docs/index.html
/docs/deprecated-list.html
/docs/duke/
/docs/type-search-index.zip
/docs/search.js
/docs/overview-tree.html
/docs/resources/
/docs/allclasses-index.html
/docs/index-files/
/docs/member-search-index.js
/docs/allclasses.html
/docs/help-doc.html
/docs/type-search-index.js
/docs/member-search-index.zip
/docs/jquery/
/docs/script.js
/docs/package-search-index.js
/docs/constant-values.html
/docs/allpackages-index.html
